# Health Insurance Coverage Script
Run all of these code blocks in order to create the HEALTH_INSURANCE_COVERAGE data table.

### Import Statements

In [14]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

### Function to create row for each year

In [15]:
def health_insurance(file,year):
    # Read in file
    df = pd.read_csv(file)

    # Get rid of spaces in Labels
    df['Label'] = df['Label'].apply(lambda x: x.lstrip())

    # Convert percentage estimates to float
    df['Percentage'] = df['Estimate'].apply(lambda x: float(x.rstrip('%'))/100 if '%' in x else None)

    # Move Total Civilian Noninstitutionalized Population from row to column
    df['Total Civilian Noninstitutionalized Population'] = int(df.iloc[0]['Estimate'].replace(',',''))
    df.dropna(inplace=True)

    # Drop unnecessary columns
    df.drop(columns=['Estimate','Margin of Error'], inplace=True)

    # Calculate population estimates
    df['Population Estimate'] = df['Percentage']*df['Total Civilian Noninstitutionalized Population']

    # Drop unnecessary columns
    df.drop(columns=['Percentage','Total Civilian Noninstitutionalized Population'], inplace=True)

    # Change index and transpose table
    df.set_index('Label', inplace=True)
    df = df.T

    # Change index to year
    df.index = [year]

    # Calculate extra columns
    df['Total Civilian Noninstitutionalized Population'] = df.sum(axis=1)

    # Rename all columns with abbreviated underscored naming conventions
    df.rename(columns={'With private health insurance':'priv_health_insur', 'With public coverage':'public_coverage', 'No health insurance coverage':'no_health_insur', 'Total Civilian Noninstitutionalized Population':'total_civ_noninst_pop'}, inplace=True)

    return df

### Test that function works

In [16]:
health_insurance('data/2022/HEALTH_INSURANCE_COVERAGE.CSV',2022)

Label,priv_health_insur,public_coverage,no_health_insur,total_civ_noninst_pop
2022,65433.654,24244.701,7841.223,97519.578

### Test that function works for each year
Should return only "No file for year '2020'"

In [17]:
for year in range(2010,2023):
    file = 'data/'+str(year)+'/HEALTH_INSURANCE_COVERAGE.CSV'

    try:
        health_insurance(file,year)
    except:
        print(f"No file for year '{year}'")

No file for year '2020'

### Run function for each year

In [18]:
HEALTH_INSURANCE_COVERAGE_2022 = health_insurance('data/2022/HEALTH_INSURANCE_COVERAGE.CSV',2022)
HEALTH_INSURANCE_COVERAGE_2021 = health_insurance('data/2021/HEALTH_INSURANCE_COVERAGE.CSV',2021)
HEALTH_INSURANCE_COVERAGE_2019 = health_insurance('data/2019/HEALTH_INSURANCE_COVERAGE.CSV',2019)
HEALTH_INSURANCE_COVERAGE_2018 = health_insurance('data/2018/HEALTH_INSURANCE_COVERAGE.CSV',2018)
HEALTH_INSURANCE_COVERAGE_2017 = health_insurance('data/2017/HEALTH_INSURANCE_COVERAGE.CSV',2017)
HEALTH_INSURANCE_COVERAGE_2016 = health_insurance('data/2016/HEALTH_INSURANCE_COVERAGE.CSV',2016)
HEALTH_INSURANCE_COVERAGE_2015 = health_insurance('data/2015/HEALTH_INSURANCE_COVERAGE.CSV',2015)
HEALTH_INSURANCE_COVERAGE_2014 = health_insurance('data/2014/HEALTH_INSURANCE_COVERAGE.CSV',2014)
HEALTH_INSURANCE_COVERAGE_2013 = health_insurance('data/2013/HEALTH_INSURANCE_COVERAGE.CSV',2013)
HEALTH_INSURANCE_COVERAGE_2012 = health_insurance('data/2012/HEALTH_INSURANCE_COVERAGE.CSV',2012)
HEALTH_INSURANCE_COVERAGE_2011 = health_insurance('data/2011/HEALTH_INSURANCE_COVERAGE.CSV',2011)
HEALTH_INSURANCE_COVERAGE_2010 = health_insurance('data/2010/HEALTH_INSURANCE_COVERAGE.CSV',2010)

### Combine each year into single dataframe containing all years

In [19]:
HEALTH_INSURANCE_COVERAGE = pd.concat([HEALTH_INSURANCE_COVERAGE_2022,HEALTH_INSURANCE_COVERAGE_2021,HEALTH_INSURANCE_COVERAGE_2019,HEALTH_INSURANCE_COVERAGE_2018,HEALTH_INSURANCE_COVERAGE_2017,HEALTH_INSURANCE_COVERAGE_2016,HEALTH_INSURANCE_COVERAGE_2015,HEALTH_INSURANCE_COVERAGE_2014,HEALTH_INSURANCE_COVERAGE_2013,HEALTH_INSURANCE_COVERAGE_2012,HEALTH_INSURANCE_COVERAGE_2011,HEALTH_INSURANCE_COVERAGE_2010])
HEALTH_INSURANCE_COVERAGE

Label,priv_health_insur,public_coverage,no_health_insur,total_civ_noninst_pop
2022,65433.654,24244.701,7841.223,97519.578
2021,65598.727,24102.897,6621.675,96323.299
2019,71575.924,22266.062,4597.446,98439.432
2018,67593.542,21761.390,6572.828,95927.760
2017,66172.754,20418.545,4083.709,90675.008
2016,58342.998,17172.939,4349.478,79865.415
2015,65003.320,17780.080,5382.960,88166.360
2014,61939.020,16040.618,7782.082,85761.720
2013,59515.536,17863.008,12019.968,89398.512
2012,58725.936,13822.461,10308.276,82856.673
2011,57724.756,14057.324,8075.484,79857.564
2010,56109.033,11308.239,8859.321,76276.593

### Reset index on combined dataframe

In [20]:
HEALTH_INSURANCE_COVERAGE.reset_index(inplace=True)
HEALTH_INSURANCE_COVERAGE.rename(columns={'index':'year'}, inplace=True)
HEALTH_INSURANCE_COVERAGE

Label,year,priv_health_insur,public_coverage,no_health_insur,total_civ_noninst_pop
0,2022,65433.654,24244.701,7841.223,97519.578
1,2021,65598.727,24102.897,6621.675,96323.299
2,2019,71575.924,22266.062,4597.446,98439.432
3,2018,67593.542,21761.390,6572.828,95927.760
4,2017,66172.754,20418.545,4083.709,90675.008
5,2016,58342.998,17172.939,4349.478,79865.415
6,2015,65003.320,17780.080,5382.960,88166.360
7,2014,61939.020,16040.618,7782.082,85761.720
8,2013,59515.536,17863.008,12019.968,89398.512
9,2012,58725.936,13822.461,10308.276,82856.673
10,2011,57724.756,14057.324,8075.484,79857.564
11,2010,56109.033,11308.239,8859.321,76276.593

### Save final dataframe as CSV to 'final' folder in 'data' folder

In [21]:
HEALTH_INSURANCE_COVERAGE.to_csv('data/final/HEALTH_INSURANCE_COVERAGE.CSV', index=False)

### Check that dataframe was saved properly as CSV

In [23]:
test = pd.read_csv('data/final/HEALTH_INSURANCE_COVERAGE.CSV')
test

,year,priv_health_insur,public_coverage,no_health_insur,total_civ_noninst_pop
0,2022,65433.654,24244.701,7841.223,97519.578
1,2021,65598.727,24102.897,6621.675,96323.299
2,2019,71575.924,22266.062,4597.446,98439.432
3,2018,67593.542,21761.390,6572.828,95927.760
4,2017,66172.754,20418.545,4083.709,90675.008
5,2016,58342.998,17172.939,4349.478,79865.415
6,2015,65003.320,17780.080,5382.960,88166.360
7,2014,61939.020,16040.618,7782.082,85761.720
8,2013,59515.536,17863.008,12019.968,89398.512
9,2012,58725.936,13822.461,10308.276,82856.673
10,2011,57724.756,14057.324,8075.484,79857.564
11,2010,56109.033,11308.239,8859.321,76276.593