# Industry Script
Run all of these code blocks in order to create the INDUSTRY data table.

### Import Statements

In [11]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

### Function to create row for each year

In [12]:
def industry(file,year):
    # Read in file
    df = pd.read_csv(file)

    # Get rid of spaces in Labels
    df['Label'] = df['Label'].apply(lambda x: x.lstrip())

    # Convert percentage estimates to float
    df['Percentage'] = df['Estimate'].apply(lambda x: float(x.rstrip('%'))/100 if '%' in x else None)

    # Move Total Civilian Employed Population 16+ from row to column
    df['Total Civilian Employed Population 16+'] = int(df.iloc[0]['Estimate'].replace(',',''))
    df.dropna(inplace=True)

    # Drop unnecessary columns
    df.drop(columns=['Estimate','Margin of Error'], inplace=True)

    # Calculate population estimates
    df['Population Estimate'] = df['Percentage']*df['Total Civilian Employed Population 16+']

    # Drop unnecessary columns
    df.drop(columns=['Percentage','Total Civilian Employed Population 16+'], inplace=True)

    # Change index and transpose table
    df.set_index('Label', inplace=True)
    df = df.T

    # Change index to year
    df.index = [year]

    # Calculate extra columns
    df['Total Civilian Employed Population 16+'] = df.sum(axis=1)

    # Rename all columns with abbreviated underscored naming conventions
    df.rename(columns={'Agriculture, forestry, fishing and hunting, and mining':'ag_forest_fish_hunt_mine', 'Construction':'construction', 'Manufacturing':'manufacturing', 'Wholesale trade':'wholesale_trade', 'Retail trade':'retail_trade', 'Transportation and warehousing, and utilities':'transport_warehousing_utilities', 'Information':'information', 'Finance and insurance, and real estate and rental and leasing':'fin_ins_realEst_rental_leasing', 'Professional, scientific, and management, and administrative and waste management services':'prof_sci_mngmt_admin_wasteMngmt_svces', 'Educational services, and health care and social assistance':'edu_healthcare_social_assist', 'Arts, entertainment, and recreation, and accommodation and food services':'arts_entertainment_rec_accom_food_svces', 'Other services (except public administration)':'other_svces_except_pubAdmin', 'Public administration':'pub_admin', 'Total Civilian Employed Population 16+':'total_civ_emp_pop_16_plus'}, inplace=True)

    return df

### Test that function works

In [13]:
industry('data/2015/INDUSTRY.CSV', 2015)

Label,ag_forest_fish_hunt_mine,construction,manufacturing,wholesale_trade,retail_trade,transport_warehousing_utilities,information,fin_ins_realEst_rental_leasing,prof_sci_mngmt_admin_wasteMngmt_svces,edu_healthcare_social_assist,arts_entertainment_rec_accom_food_svces,other_svces_except_pubAdmin,pub_admin,total_civ_emp_pop_16_plus
2015,0.0,188.44,3533.25,1319.08,4051.46,1884.4,1319.08,2826.6,5511.87,21011.06,3015.04,1413.3,1036.42,47110.0

### Test that function works for each year
Should return only "No file for year '2020'"

In [14]:
for year in range(2010,2023):
    file = 'data/'+str(year)+'/INDUSTRY.CSV'

    try:
        industry(file,year)
    except:
        print(f"No file for year '{year}'")

No file for year '2020'

### Run function for each year

In [15]:
INDUSTRY_2022 = industry('data/2022/INDUSTRY.CSV',2022)
INDUSTRY_2021 = industry('data/2021/INDUSTRY.CSV',2021)
INDUSTRY_2019 = industry('data/2019/INDUSTRY.CSV',2019)
INDUSTRY_2018 = industry('data/2018/INDUSTRY.CSV',2018)
INDUSTRY_2017 = industry('data/2017/INDUSTRY.CSV',2017)
INDUSTRY_2016 = industry('data/2016/INDUSTRY.CSV',2016)
INDUSTRY_2015 = industry('data/2015/INDUSTRY.CSV',2015)
INDUSTRY_2014 = industry('data/2014/INDUSTRY.CSV',2014)
INDUSTRY_2013 = industry('data/2013/INDUSTRY.CSV',2013)
INDUSTRY_2012 = industry('data/2012/INDUSTRY.CSV',2012)
INDUSTRY_2011 = industry('data/2011/INDUSTRY.CSV',2011)
INDUSTRY_2010 = industry('data/2010/INDUSTRY.CSV',2010)

### Combine each year into single dataframe containing all years

In [16]:
INDUSTRY = pd.concat([INDUSTRY_2022,INDUSTRY_2021,INDUSTRY_2019,INDUSTRY_2018,INDUSTRY_2017,INDUSTRY_2016,INDUSTRY_2015,INDUSTRY_2014,INDUSTRY_2013,INDUSTRY_2012,INDUSTRY_2011,INDUSTRY_2010])
INDUSTRY

Label,ag_forest_fish_hunt_mine,construction,manufacturing,wholesale_trade,retail_trade,transport_warehousing_utilities,information,fin_ins_realEst_rental_leasing,prof_sci_mngmt_admin_wasteMngmt_svces,edu_healthcare_social_assist,arts_entertainment_rec_accom_food_svces,other_svces_except_pubAdmin,pub_admin,total_civ_emp_pop_16_plus
2022,0.000,904.590,2814.280,703.570,5327.030,2563.005,854.335,3367.085,6332.130,21408.630,3166.065,2160.965,552.805,50154.490
2021,47.687,715.305,5245.570,1144.488,3814.960,3099.655,619.931,2145.915,5197.883,19694.731,2861.220,1716.732,1287.549,47591.626
2019,101.640,1372.140,3455.760,254.100,4777.080,3049.200,711.480,3709.860,6250.860,21750.960,3659.040,1270.500,457.380,50820.000
2018,98.436,147.654,2657.772,639.834,2953.080,2362.464,836.706,3740.568,5660.070,23181.678,4183.530,2214.810,541.398,49218.000
2017,0.000,319.704,2557.632,685.080,4886.904,2374.944,685.080,2968.680,4064.808,19912.992,2100.912,3608.088,1461.504,45626.328
2016,128.805,300.545,1631.530,772.830,3177.190,1889.140,729.895,2747.840,4765.785,20823.475,2619.035,2619.035,686.960,42892.065
2015,0.000,188.440,3533.250,1319.080,4051.460,1884.400,1319.080,2826.600,5511.870,21011.060,3015.040,1413.300,1036.420,47110.000
2014,0.000,754.375,1775.000,754.375,4526.250,1863.750,798.750,2751.250,3061.875,22187.500,3905.000,1597.500,443.750,44419.375
2013,0.000,357.328,3483.948,937.986,3171.286,2233.300,893.320,3528.614,4913.260,19876.370,3126.620,1607.976,491.326,44621.334
2012,43.680,174.720,2096.640,655.200,2708.160,2446.080,611.520,2577.120,5197.920,21315.840,2620.800,1790.880,1441.440,43680.000
2011,87.674,306.859,3463.123,657.555,3638.471,1578.132,745.229,2849.405,3463.123,20515.716,3726.145,1884.991,964.414,43880.837
2010,0.000,335.008,3978.220,544.388,2931.320,2889.444,1046.900,3852.592,4061.972,17713.548,1800.668,1968.172,711.892,41834.124

### Reset index on combined dataframe

In [17]:
INDUSTRY.reset_index(inplace=True)
INDUSTRY.rename(columns={'index':'year'}, inplace=True)
INDUSTRY

Label,year,ag_forest_fish_hunt_mine,construction,manufacturing,wholesale_trade,retail_trade,transport_warehousing_utilities,information,fin_ins_realEst_rental_leasing,prof_sci_mngmt_admin_wasteMngmt_svces,edu_healthcare_social_assist,arts_entertainment_rec_accom_food_svces,other_svces_except_pubAdmin,pub_admin,total_civ_emp_pop_16_plus
0,2022,0.000,904.590,2814.280,703.570,5327.030,2563.005,854.335,3367.085,6332.130,21408.630,3166.065,2160.965,552.805,50154.490
1,2021,47.687,715.305,5245.570,1144.488,3814.960,3099.655,619.931,2145.915,5197.883,19694.731,2861.220,1716.732,1287.549,47591.626
2,2019,101.640,1372.140,3455.760,254.100,4777.080,3049.200,711.480,3709.860,6250.860,21750.960,3659.040,1270.500,457.380,50820.000
3,2018,98.436,147.654,2657.772,639.834,2953.080,2362.464,836.706,3740.568,5660.070,23181.678,4183.530,2214.810,541.398,49218.000
4,2017,0.000,319.704,2557.632,685.080,4886.904,2374.944,685.080,2968.680,4064.808,19912.992,2100.912,3608.088,1461.504,45626.328
5,2016,128.805,300.545,1631.530,772.830,3177.190,1889.140,729.895,2747.840,4765.785,20823.475,2619.035,2619.035,686.960,42892.065
6,2015,0.000,188.440,3533.250,1319.080,4051.460,1884.400,1319.080,2826.600,5511.870,21011.060,3015.040,1413.300,1036.420,47110.000
7,2014,0.000,754.375,1775.000,754.375,4526.250,1863.750,798.750,2751.250,3061.875,22187.500,3905.000,1597.500,443.750,44419.375
8,2013,0.000,357.328,3483.948,937.986,3171.286,2233.300,893.320,3528.614,4913.260,19876.370,3126.620,1607.976,491.326,44621.334
9,2012,43.680,174.720,2096.640,655.200,2708.160,2446.080,611.520,2577.120,5197.920,21315.840,2620.800,1790.880,1441.440,43680.000
10,2011,87.674,306.859,3463.123,657.555,3638.471,1578.132,745.229,2849.405,3463.123,20515.716,3726.145,1884.991,964.414,43880.837
11,2010,0.000,335.008,3978.220,544.388,2931.320,2889.444,1046.900,3852.592,4061.972,17713.548,1800.668,1968.172,711.892,41834.124

### Save final dataframe as CSV to 'final' folder in 'data' folder

In [18]:
INDUSTRY.to_csv('data/final/INDUSTRY.CSV', index=False)

### Check that dataframe was saved properly as CSV

In [19]:
df = pd.read_csv('data/final/INDUSTRY.CSV')
df

,year,ag_forest_fish_hunt_mine,construction,manufacturing,wholesale_trade,retail_trade,transport_warehousing_utilities,information,fin_ins_realEst_rental_leasing,prof_sci_mngmt_admin_wasteMngmt_svces,edu_healthcare_social_assist,arts_entertainment_rec_accom_food_svces,other_svces_except_pubAdmin,pub_admin,total_civ_emp_pop_16_plus
0,2022,0.000,904.590,2814.280,703.570,5327.030,2563.005,854.335,3367.085,6332.130,21408.630,3166.065,2160.965,552.805,50154.490
1,2021,47.687,715.305,5245.570,1144.488,3814.960,3099.655,619.931,2145.915,5197.883,19694.731,2861.220,1716.732,1287.549,47591.626
2,2019,101.640,1372.140,3455.760,254.100,4777.080,3049.200,711.480,3709.860,6250.860,21750.960,3659.040,1270.500,457.380,50820.000
3,2018,98.436,147.654,2657.772,639.834,2953.080,2362.464,836.706,3740.568,5660.070,23181.678,4183.530,2214.810,541.398,49218.000
4,2017,0.000,319.704,2557.632,685.080,4886.904,2374.944,685.080,2968.680,4064.808,19912.992,2100.912,3608.088,1461.504,45626.328
5,2016,128.805,300.545,1631.530,772.830,3177.190,1889.140,729.895,2747.840,4765.785,20823.475,2619.035,2619.035,686.960,42892.065
6,2015,0.000,188.440,3533.250,1319.080,4051.460,1884.400,1319.080,2826.600,5511.870,21011.060,3015.040,1413.300,1036.420,47110.000
7,2014,0.000,754.375,1775.000,754.375,4526.250,1863.750,798.750,2751.250,3061.875,22187.500,3905.000,1597.500,443.750,44419.375
8,2013,0.000,357.328,3483.948,937.986,3171.286,2233.300,893.320,3528.614,4913.260,19876.370,3126.620,1607.976,491.326,44621.334
9,2012,43.680,174.720,2096.640,655.200,2708.160,2446.080,611.520,2577.120,5197.920,21315.840,2620.800,1790.880,1441.440,43680.000
10,2011,87.674,306.859,3463.123,657.555,3638.471,1578.132,745.229,2849.405,3463.123,20515.716,3726.145,1884.991,964.414,43880.837
11,2010,0.000,335.008,3978.220,544.388,2931.320,2889.444,1046.900,3852.592,4061.972,17713.548,1800.668,1968.172,711.892,41834.124