In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('data/2010/YEAR_STRUCTURE_BUILT.CSV')
df

                        Label Estimate Margin of Error
0      Occupied housing units   24,310          ±2,322
1         Built 2000 or later    13.3%            ±3.5
2          Built 1990 to 1999     6.3%            ±2.8
3          Built 1980 to 1989     7.5%            ±3.0
4          Built 1960 to 1979    29.3%            ±4.5
5          Built 1940 to 1959    20.1%            ±3.9
6       Built 1939 or earlier    23.5%            ±4.0

In [3]:
df_1 = pd.read_csv('data/2016/YEAR_STRUCTURE_BUILT.CSV')
df_1

                           Label Estimate Margin of Error
0         Occupied housing units   23,580          ±1,981
1            Built 2014 or later     1.0%            ±0.8
2             Built 2010 to 2013     1.1%            ±0.8
3             Built 2000 to 2009     9.1%            ±3.1
4             Built 1980 to 1999    12.7%            ±3.0
5             Built 1960 to 1979    29.5%            ±4.7
6             Built 1940 to 1959    26.9%            ±4.0
7          Built 1939 or earlier    19.7%            ±3.9

In [14]:
def read_file(file, year):
    df = pd.read_csv(file)
    df['Label'] = df['Label'].apply(lambda x: x.lstrip())
    df['Estimate'] = df['Estimate'].apply(lambda x: x.rstrip('%'))
    df['Estimate'] = df['Estimate'].apply(lambda x: x.replace(',', ''))
    df['Estimate'] = df['Estimate'].astype(float)
    df.drop(columns=['Margin of Error'], inplace=True)
    df.set_index('Label', inplace=True)
    df = df.T
    df.index = [year]
    return df

In [15]:
for year in range(2010, 2023):
    file = 'data/'+str(year)+'/YEAR_STRUCTURE_BUILT.CSV'
    
    try:
        read_file(file, year)
    except:
        print(f"No file for year '{year}'")

No file for year '2020'

In [16]:
read_file('data/2010/YEAR_STRUCTURE_BUILT.CSV', 2010)

Label,Occupied housing units,Built 2000 or later,Built 1990 to 1999,Built 1980 to 1989,Built 1960 to 1979,Built 1940 to 1959,Built 1939 or earlier
2010,24310.0,13.3,6.3,7.5,29.3,20.1,23.5

In [17]:
YEAR_STRUCTURE_2022 = read_file('data/2022/YEAR_STRUCTURE_BUILT.CSV', 2022)
YEAR_STRUCTURE_2021 = read_file('data/2021/YEAR_STRUCTURE_BUILT.CSV', 2021)
YEAR_STRUCTURE_2019 = read_file('data/2019/YEAR_STRUCTURE_BUILT.CSV', 2019)
YEAR_STRUCTURE_2018 = read_file('data/2018/YEAR_STRUCTURE_BUILT.CSV', 2018)
YEAR_STRUCTURE_2017 = read_file('data/2017/YEAR_STRUCTURE_BUILT.CSV', 2017)
YEAR_STRUCTURE_2016 = read_file('data/2016/YEAR_STRUCTURE_BUILT.CSV', 2016)
YEAR_STRUCTURE_2015 = read_file('data/2015/YEAR_STRUCTURE_BUILT.CSV', 2015)
YEAR_STRUCTURE_2014 = read_file('data/2014/YEAR_STRUCTURE_BUILT.CSV', 2014)
YEAR_STRUCTURE_2013 = read_file('data/2013/YEAR_STRUCTURE_BUILT.CSV', 2013)
YEAR_STRUCTURE_2012 = read_file('data/2012/YEAR_STRUCTURE_BUILT.CSV', 2012)
YEAR_STRUCTURE_2011 = read_file('data/2011/YEAR_STRUCTURE_BUILT.CSV', 2011)
YEAR_STRUCTURE_2010 = read_file('data/2010/YEAR_STRUCTURE_BUILT.CSV', 2010)

In [18]:
YEAR_STRUCTURE_STATUS = pd.concat([YEAR_STRUCTURE_2022, YEAR_STRUCTURE_2021, YEAR_STRUCTURE_2019, YEAR_STRUCTURE_2018, YEAR_STRUCTURE_2017, YEAR_STRUCTURE_2016, YEAR_STRUCTURE_2015, YEAR_STRUCTURE_2014, YEAR_STRUCTURE_2013, YEAR_STRUCTURE_2012, YEAR_STRUCTURE_2011, YEAR_STRUCTURE_2010])
YEAR_STRUCTURE_STATUS

Label,Occupied housing units,Built 2020 or later,Built 2010 to 2019,Built 2000 to 2009,Built 1980 to 1999,Built 1960 to 1979,Built 1940 to 1959,Built 1939 or earlier,Built 2014 or later,Built 2010 to 2013,Built 2010 or later,Built 2000 or later,Built 1990 to 1999,Built 1980 to 1989
2022,32190.0,0.3,3.4,12.5,16.6,25.0,22.2,19.9,NaN,NaN,NaN,NaN,NaN,NaN
2021,29191.0,0.0,5.3,9.3,15.8,31.3,20.6,17.8,NaN,NaN,NaN,NaN,NaN,NaN
2019,26642.0,NaN,NaN,9.6,19.6,23.8,20.9,22.0,2.3,1.8,NaN,NaN,NaN,NaN
2018,28119.0,NaN,NaN,9.5,13.8,26.0,25.0,23.5,1.0,1.3,NaN,NaN,NaN,NaN
2017,26139.0,NaN,NaN,12.8,13.2,28.3,23.8,20.0,0.9,0.9,NaN,NaN,NaN,NaN
2016,23580.0,NaN,NaN,9.1,12.7,29.5,26.9,19.7,1.0,1.1,NaN,NaN,NaN,NaN
2015,25286.0,NaN,NaN,17.0,16.8,23.7,18.7,22.6,0.5,0.6,NaN,NaN,NaN,NaN
2014,22226.0,NaN,NaN,11.9,14.3,25.6,20.3,26.9,NaN,NaN,1.1,NaN,NaN,NaN
2013,26959.0,NaN,NaN,12.1,18.2,25.3,20.2,23.9,NaN,NaN,0.3,NaN,NaN,NaN
2012,23724.0,NaN,NaN,12.0,14.0,28.2,22.0,23.8,NaN,NaN,0.0,NaN,NaN,NaN
2011,22701.0,NaN,NaN,NaN,NaN,25.2,26.0,17.4,NaN,NaN,NaN,11.6,10.2,9.6
2010,24310.0,NaN,NaN,NaN,NaN,29.3,20.1,23.5,NaN,NaN,NaN,13.3,6.3,7.5

In [19]:
YEAR_STRUCTURE_STATUS.reset_index(inplace=True)
YEAR_STRUCTURE_STATUS.rename(columns={'index': 'Year'}, inplace=True)
YEAR_STRUCTURE_STATUS

Label,Year,Occupied housing units,Built 2020 or later,Built 2010 to 2019,Built 2000 to 2009,Built 1980 to 1999,Built 1960 to 1979,Built 1940 to 1959,Built 1939 or earlier,Built 2014 or later,Built 2010 to 2013,Built 2010 or later,Built 2000 or later,Built 1990 to 1999,Built 1980 to 1989
0,2022,32190.0,0.3,3.4,12.5,16.6,25.0,22.2,19.9,NaN,NaN,NaN,NaN,NaN,NaN
1,2021,29191.0,0.0,5.3,9.3,15.8,31.3,20.6,17.8,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,26642.0,NaN,NaN,9.6,19.6,23.8,20.9,22.0,2.3,1.8,NaN,NaN,NaN,NaN
3,2018,28119.0,NaN,NaN,9.5,13.8,26.0,25.0,23.5,1.0,1.3,NaN,NaN,NaN,NaN
4,2017,26139.0,NaN,NaN,12.8,13.2,28.3,23.8,20.0,0.9,0.9,NaN,NaN,NaN,NaN
5,2016,23580.0,NaN,NaN,9.1,12.7,29.5,26.9,19.7,1.0,1.1,NaN,NaN,NaN,NaN
6,2015,25286.0,NaN,NaN,17.0,16.8,23.7,18.7,22.6,0.5,0.6,NaN,NaN,NaN,NaN
7,2014,22226.0,NaN,NaN,11.9,14.3,25.6,20.3,26.9,NaN,NaN,1.1,NaN,NaN,NaN
8,2013,26959.0,NaN,NaN,12.1,18.2,25.3,20.2,23.9,NaN,NaN,0.3,NaN,NaN,NaN
9,2012,23724.0,NaN,NaN,12.0,14.0,28.2,22.0,23.8,NaN,NaN,0.0,NaN,NaN,NaN
10,2011,22701.0,NaN,NaN,NaN,NaN,25.2,26.0,17.4,NaN,NaN,NaN,11.6,10.2,9.6
11,2010,24310.0,NaN,NaN,NaN,NaN,29.3,20.1,23.5,NaN,NaN,NaN,13.3,6.3,7.5